[Unit]
Description=eRp Processing Context 9088
After=network.target
After=vau-config.service
After=haproxy.service
Before=disable-modules.service

[Service]
Restart=always
RestartSec=10

User=erp-processing-context
Group=erp-processing-context

WorkingDirectory=/erp/bin/
Environment="SGX=1"
Environment="ERP_SERVER_PORT=9088"
Environment="ERP_LOG_DIR=/var/log/erp/9088/"
EnvironmentFile=/var/config/erp-processing-context
EnvironmentFile=-/var/config/erp-processing-context-secrets
ExecStart=gramine-sgx erp-processing-context
#ExecStart=/erp/bin/erp-processing-context
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
RequiredBy=disable-modules.service
