[Unit]
Description=Gramine Token Generation
After=network.target vau-config.service aesmd.service
Requires=aesmd.service

[Service]
ExecStartPre=/bin/sleep 3
Environment="PYTHONPATH=/usr/local"
WorkingDirectory=/erp/bin
ExecStart=/usr/bin/gramine-sgx-get-token --sig /erp/bin/erp-processing-context.sig --output /var/config/erp/bin/erp-processing-context.token

[Install]
WantedBy=multi-user.target
